* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.container {
  background: white;
  width: 100%;
  max-width: 1440px;
  max-height: 2048px;
  padding: 30px 40px 40px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 30px;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto; 
  gap: 30px;
  justify-items: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
}


.pokemon-image-box {
  border: 4px solid #333;
  width: 463px;
  height: 463px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.pokemon-image-box img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.pokemon-name {
  padding: 12px;
  width: 463px;
  height: 67px;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  background: #e8e8e8;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.types-section {
    width:100%;
    align-self: flex-start;
}
.types-label {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.types-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.type-badge {
  padding: 6px 16px;
  border-radius: 10px;
  width: 117px;
  height: 41px;
  font-size: 24px;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  text-transform: lowercase;
}

.arrow-buttons {
  display: flex;
  gap: 35px;
  width: 346px;
  height: 69px;
  justify-content: center;
  margin: 0 auto;
}

#btn-next img {
  transform: rotate(180deg);
}

.arrow-buttons button img {
  width:100%;
  height:100%;
  object-fit: contain;
}

.arrow-buttons button {
  flex: 1;
  width: 173px;
  height: 69px;
  padding: 10px;
  background: #e0e0e0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.arrow-buttons button:hover {
  background: #c8c8c8;
}

.arrow-buttons button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.right-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
  margin-top: -20px;
}

.panel-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  font-style: bold;
}

.info-panel {
  background: #e8e8e8;
  width: 486px;
  height: 598px;
  padding: 24px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3;
  overflow-y: auto;
  margin-bottom: 35px;
}

#info-content {
  padding-top: 8px;
  padding-left: 10px;
}

.moves-panel {
  background: #e8e8e8;
  width: 486px;
  height: 598px;
  padding: 24px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  overflow-y: auto;
  margin-bottom: 35px;
}

#moves-list {
  padding-top: 10px;
  padding-left: 20px;
}

.moves-panel ul {
  list-style: none;
  padding: 0;
}

.moves-panel ul li {
  padding: 4px 0;
  font-size: 36px;
  font-weight: 400;
}



.tab-buttons {
  display: flex;
  gap: 35px;
  width: 386px;
  height: 69px;
  margin: 0 auto;
}

#tab-info {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}

#tab-moves {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}


.tab-buttons button {
  flex: 1;
  padding: 14px;
  font-size: 36px;
  background: #e0e0e0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.tab-buttons button.active {
  background: #7CFF79;
  color: black;
}

.tab-buttons button:not(.active):hover {
  background: #c8c8c8;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .main-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.4rem;
  }

  .container {
    padding: 20px;
  }
}